.inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}