
.up-down-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.up {
    width: 40px;
    height: 19.5px;
    border-radius: 4px 4px 0px 0px;
    background: #DDE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.down {
    width: 40px;
    height: 19.5px;
    border-radius: 0px 0px 4px 4px;
    background: #DDE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

